* {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

.list-content {
  width: 100%;
  margin: 15px;
  float: left;
}

.test-card {
  width: 95%;
  margin: 15px;
  padding: 8px;
  float: left;
}

.md-headline, .header-row {
  display: inline-block;
  display: -moz-inline-box;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  width: 33%;
  text-align: center;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.search-field {
  margin: 5px;
}
