<div [ngClass]="classMap">
  <div class="row">
    <div class="col-md-3">{{ test['suite'] }}</div>
    <div class="col-md-5">{{ test['$key'] }}</div>
    <div class="col-md-2">
      <div class="input-group">
        <select #status (change)="this.updateStatus(status.value)" class="search-field form-control">
          <option [selected]="test.status === 'Consistent'" value="Consistent">Consistent</option>
          <option [selected]="test.status === 'Quarantine'" value="Quarantine">Quarantine</option>
        </select>
      </div>
    </div>
    <div class="col-md-1">
      <div class="input-group">
        <select #result (change)="this.updateResult(result.value)" class="search-field form-control">
          <option [selected]="this.test.lastResult.result === 'PASS'" value="PASS">Pass</option>
          <option [selected]="this.test.lastResult.result === 'FLAKE'" value="FLAKE">Flake</option>
          <option [selected]="this.test.lastResult.result === 'FAIL'" value="FAIL">Fail</option>
          <option [selected]="this.test.lastResult.result === 'BUG'" value="BUG">Bug</option>
          <option [selected]="this.test.lastResult.result === 'SKIP'" value="SKIP">Skip</option>
        </select>
      </div>
    </div>
    <div class="col-md-1">
      <button (click)="this.toggleResults()" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        Show Results
      </button>
    </div>
  </div>
  <div class="row">
    <div *ngIf="showResults" class="col-md-12">
      <test-results [testname]="this.testname"></test-results>
    </div>
  </div>
</div>
